.list-group-item {
    font-family: 'Roboto', sans-serif;
}

.home-category {
    background-color: #ccc;
}

.article-list {
    padding-top: 20px;
    width: 60%;
    position: absolute;
    left: 20%;
}

.article-page {
    padding-left: 20px;
    padding-bottom: 50px;
    width: 40%;
    position: absolute;
    left: 20%;
    font-family: 'Roboto', sans-serif;
}

.flytitle {
    color: #e3120b;
    line-height: 1.35;
}

.xhead {
    font-weight: 700;
}
.headline {
    color: #121212;
    line-height: 1.2;
    font-weight: 500;
    display: block;
}

.alternativename {
    font-style: italic;
    line-height: 1.4;
}

img {
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #7a7a7a;
}

a:hover {
    color: blue;
    text-decoration: none;
}
